* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.main-input-container {
  width: 100%;
  height: 96px;
  border-bottom: 1px solid black;
}

.main-input-container input,
.main-input-container button {
  vertical-align: middle;
  margin: 10px 5px;
  height: 30px;
}

.inputPriority {
  width: 30px;
  padding: 3px;
  margin: 5px;
}

.taskItem {
  height: 10%;
  padding: 10px;
  border-bottom: 1px solid black;
}

.taskItem > * {
  vertical-align: baseline;
  display: inline;
  padding: 1px;
  margin: 0 5px;
}

.priority {
  
}


.del {

}

.title {

}




