.button {
    background-color: rgb(8, 153, 27);
    color: white;
    margin: 0;
    padding: 5px;
    border: 1px solid rgb(5, 100, 18);
    width: 90px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.button:hover {

}

.priority,
.priority__true {
    text-align: center;
    width: 40px;
    padding: 3px;
    margin: 10px 5px;
    height: 30px;
    font-size: 18px;
    background-color: inherit;
    border: 1px solid #079459;
    color: #079459;
    cursor: pointer;
}

.priority:hover {
    background-color: #079459;
    color: white;
}

.priority__true {  
    background-color: #079459;
    color: white;
}
